body {
    background: 
    linear-gradient(135deg, steelblue 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, steelblue 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, steelblue 25%, transparent 25%),
    linear-gradient(45deg, steelblue 25%, transparent 25%);	
    background-size: 2em 2em;
    background-color: cornflowerblue;
    text-align: center;
}

.resultBox {
    display: none;
    margin-top: 30px;
}

.jumbotron {
    background-color: royalblue;
    margin-top: 50px;
}

input#userInput {
    width: 30%;
    margin: 30px;
}

ul {
    list-style: none;
    text-align: left;
    width: 40%;
    margin-left: 30%;
    margin-top: 20px;
}

li.purpleClass::before {
    content: ' ';
    background: #662974;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    line-height: 20px;
    margin-right: 10px;
}

li.redClass::before {
    content: ' ';
    background: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    line-height: 20px;
    margin-right: 10px;
}

li.blueClass::before {
    content: ' ';
    background: blue;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    line-height: 20px;
    margin-right: 10px;
}